<div id="map-container"></div>
<div class="panel-admin">
  <div class="control-panel">
    <input id="date-range" (input)="showRouteHistory($event.target)" [min]="minDate"
           [max]="maxDate" [step]="step" [value]=val type="range" />
    <p>{{historyDate}}</p>
  </div>
  <div class="control-panel">
    <input type="text" [(ngModel)]="rectangle.minX" />
    <input type="text" [(ngModel)]="rectangle.maxX" />
    <input type="text" [(ngModel)]="rectangle.minY" />
    <input type="text" [(ngModel)]="rectangle.maxY" />
    <button (click)="getPositions()">Get</button>
  </div>
  <button (click)="drawCircle()">Draw</button>
  <button (click)="stopDrawCircle()">Stop</button>
</div>



