#map-container {
  position:absolute;
  height:100vh;
  width:60vw;
  right: 0;
  display: flex;
  justify-content: center;
}

.panel-admin {
  padding: 1rem;
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  overflow-y: auto;
  background-image: linear-gradient(to right, rgb(255,255,255) 20%, #AAD3DF);
}

.card {
  position: absolute;
  bottom: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 70%;
  padding: 15px;
  border-radius: 6px;
  z-index: 1000;
  background-color: #eee;
}

.timeline-range {
  text-align: center;
  #date-range {
    width: 90%;
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #2CAD27;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #2CAD27;
      cursor: pointer;
    }
  }
}

.second {
  flex: 1;
  width: 90%;
}

.timeline {
  height: calc(100% - 40px);
  //margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .chart {
    flex: 1;
  }
}

.no-timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1
}


.example-card {
  width: 90%;
  display: flex;
  flex-direction: column;


  .ship-image {
    border-radius: 6px;
    background-image: url("https://images.unsplash.com/photo-1605745341112-85968b19335b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
    background-size: cover;
    background-position: center center;
    flex: 0 0 200px;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    p {
      .detail {
        flex: 1;
      }
      display: flex;
      justify-content: space-around;
      gap: 10px;
    }
  }

}

