#map-container {
  position:absolute;
  height:100vh;
  width:60vw;
  right: 0;
}

//.panel-admin {
//  width: 40vw;
//  height: 100vh;
//  display: flex;
//  flex-direction: column;
//}

button {
  max-width: 100px;
}


.control-panel {
  #date-range {
    width: 80%;
  }
}

