#map-container {
  position:absolute;
  height:100vh;
  width:60vw;
  right: 0;
  display: flex;
  justify-content: center;
}

.panel-admin {
  padding: 1rem;
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  overflow-y: auto;
}

.card {
  position: absolute;
  bottom: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 70%;
  padding: 15px;
  border-radius: 6px;
  z-index: 1000;
  background-color: #eee;
}

.timeline {
  text-align: center;
  #date-range {
    width: 90%;
  }
}
//
//button {
//  max-width: 100px;
//}

.second {
  flex: 1;
  width: 90%;
}

.tab-content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  app-timeline-chart {

  }
}


.example-card {
  width: 90%;
  //height: 50%;
  display: flex;
  flex: 0 0 60%;
  flex-direction: column;


  .ship-image {
    border-radius: 6px;
    background-image: url("https://images.unsplash.com/photo-1605745341112-85968b19335b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
    background-size: cover;
    background-position: center center;
    flex: 0 0 200px;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    p {
      .detail {
        flex: 1
      }
      display: flex;
      justify-content: space-around;
      gap: 10px;
      //align-items: stretch;
    }
  }

}

